# React Native
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Android
*.apk
*.ap_
*.aab
/build/
/android/app/build/
/android/gradle.properties
/android/local.properties
/android/gradlew
/android/gradlew.bat
/android/gradle/
/android/app/.externalNativeBuild/
/android/captures/

# iOS
**/ios/Pods/
**/ios/build/
**/ios/*.xcworkspace
**/ios/*.xccheckout
**/ios/*.xcuserdatad/

# Xcode
**/*.swp
**/*.lock
**/*.xcuserstate
**/*.xcworkspace/
**/*.xccheckout/
**/*.xcscmblueprint/
**/*.xcuserdatad/
**/*.pbxuser
**/project.xcworkspace/
**/xcuserdata/

# Gradle
**/.gradle/
**/gradle/
**/gradlew
**/gradlew.bat
**/gradle.properties
**/gradle.lockfile
**/local.properties

# Misc
log/
logs/
*.log
*.log.*
*.pid
*.seed
*.pid.lock
*.log
*.csv

# IDE and Editor files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*